.header-style {
	background-color: #3182BD;
    padding: 20px;
	text-align: center;
}

.header-style h1 {
    font-size: 46px;
    font-weight: bold;
    margin: 16px;
}

h2 {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 16px;
}

body {
	margin: 0;
	font-family: 'Merriweather', serif;
    padding-bottom: 60px;
}

.navigation-side-bar {
    background-color: #9ECAE1;
    border-top: 10px solid #000;
    border-right: 10px solid #000;
    border-bottom: 10px solid #000;
    box-sizing: border-box;
    width: 15%;
    position: fixed;
    top: 50px;
    left: 0;
}

.navigation-side-items {
    margin: 16px;
}

.navigation-side-items li{
    margin-bottom: 8px;
}

.social-networks-icons li {
    display: inline-block;
}

.social-networks-icons a {
    width: 40px;
    height: 40px;
    display: block;
}

.github {
    background-image: url(../imgs/github.png);
}

.twitter {
    background-image: url(../imgs/twitter.png);
}

.linkedin {
    background-image: url(../imgs/linkedin.png);
}

.element {
	background-color: #9ecae1;
	margin: 30px;
	padding: 30px;
	border-radius: 25px;
}

.profile-pic {
	border-radius: 50%;
}

.footer-style {
    background-color: #3182BD;
    padding: 10px;
    font-size: 14px;
    font-weight: bold;
    position: fixed;
    bottom: 0;
    width: 100%;
}

@media screen and (max-width: 480px) {
    .navigation-side-bar {
        background-color: #9ECAE1;
        border-top: 10px solid #000;
        border-right: 10px solid #000;
        border-bottom: 10px solid #000;
        box-sizing: border-box;
        width: 25%;
        position: fixed;
        top: 50px;
        left: 0;
    }

    .navigation-side-items {
        margin: 6px;
    }

    .navigation-side-items li{
        margin-bottom: 8px;
    }
}
