body{
	margin: 0;
	font-family: 'Merriweather', serif;
}

.header-footer {
	text-align: center;
	background-color: #3182bd;
	padding: 10px;
}

section > div {
	background-color: #9ecae1;
	margin: 30px;
	padding: 30px;
	border-radius: 25px;
}

header > img {
	border-radius: 50%;
}
